<div class="container color-dark">
    <div class="col">
        <p>Un élément de liste</p>
    </div>
    <div class="col">
        <p>Ma liste d'éléments ({{nbItems}})</p>
    </div>
</div>
<div class="container color-light" [@animobjectifs]="activiteService.objectifs.length">
    <div class="col">
        <p class="sm">Un nouvel élément de liste</p>
        <form>
            <input type="text" id="txt" name="txt" class="txt" [(ngModel)]="objectifText" />
            <input [ngClass]="{'btnOk': objectifText !='', 'btn': objectifText == ''}" type="submit" id="btn" name="btn" class="btn" (click)="ajoutItem()" [value]="btnText" />
            <button id="btne" name="btne" class="btnE" (click)="effacerItem()">Vider la liste</button>
        </form>      
    </div>
    <div class="col">
        <p class="life-container" *ngFor="let obj of activiteService.objectifs;let i = index" (click)="consultItem(i)">{{obj}}</p>
    </div>
</div>
    

